body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

.card-wrapper {
  color: #fff;
  text-shadow: 2px 2px #000;
  position: relative;
  height: 24em;
  width: 32em;
  background-color: rgb(47, 167, 0);
  border-radius: 20px;
}

.bank-name {
  font-size: 40px;
  padding: 20px;
  text-align: right;
}

.cc-number {
  position: absolute;
  top: 50%;
  right: 25%;
  text-align: center;
  font-size: 35px;
}

.expiration-date {
  font-size: 20px;
  text-align: right;
  margin-right: 20px;
  padding-right: 20px;
  position: absolute;
  top: 70%;
  right: 25%;
}

.expiration-date strong {
  color: rgb(68, 68, 68);
}
.card-holder-name {
  text-align: right;
  font-size: 30px;
  margin-right: 20px;
  padding-right: 20px;
  position: absolute;
  top: 75%;
  left: 10%;
}